.card-wrap {
  display: flex;
  padding: 10px;
  background: #F2F2F2;
  margin: 30px;
  flex: 1;
  flex-direction: column-reverse;
  align-items:center;
  text-align: center;
}

.card-img-wrap img {
  object-fit: fill;
  height: 60%;
  width: 40%;
  margin: 40px;

}
.card-text-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: Courier Cyrillic;

  text-align: center;
  font-size: 14px;
  color: #0074B3;
}


@media screen and (max-width: 425px) {


  .cardWrap,
  .imgWrap,
  .textWrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .card-wrap {
    flex-direction: column;
    align-items: center;
  }
  .card-img-wrap {
    max-width: 40%;
    margin-bottom: 20px;
  }
  .card-text-wrap {
    text-align: center;
    margin: 10px;
  }
  .card-text-wrap > * {
    margin: 15px 0;
  }

}
@media screen and (max-width: 1024px) {
  .card-img-wrap {
    max-width: 50%; /*last value was:  25%; */
    max-height: 300px;
  }
  .card-text-wrap > * {
    margin: 20px 0;
  }
}
