.head{
  display: flex;
  flex: 1;
  justify-content: center;
  background: #F7F7F7;
  position: fixed;
  top: 0px;
  width: 100%;
}

h1{


  font-family: Courier Cyrillic;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;
  text-align: center;

  color: #004C74;

}
