.slide-header {
    position: fixed;
    top: 110px;
    width: 100%;
    flex: 1;
    height: 420px;
    overflow: hidden;
    display: fixed;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;


}

.overlay-header {

    border-radius: 25px;
    padding: 25px;  
    top: 110px;
    width: 100%;
    flex: 1;


}

.slide-header .overlay-header {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 10;
}
.slide-header .overlay-header h1 {
    margin: 0;
    text-transform: uppercase;
}
.slide-header .overlay-header .sub-heading {
    display: block;
}

.btn-width {
    display: inline-block;
}
.cta-join {
    background: #62AFD9;;
    border: none;
    border-bottom: none;
    padding-bottom: 6px;
    border-radius: 0px;
    margin: 20px;
}


.sub-heading {
    width: 100%;

}

.sub-h2{
    font-family: Courier Cyrillic;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    text-align: center;

    color: #004C74;
}
h3{
    font-family: Courier Cyrillic;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 26px;
    text-align: center;
}
.sub-h3{
    margin: 10px 3px 10px 7px;
    padding-top: 5px;
    
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 45px;
    }
    .sub-heading {
        font-size: 30px;
    }

}


@media screen and (max-width: 480px) {
    .slide-header{
        height: 300px;
    }

    .overlay-header {
    width: 300px;
    
    }

    .cta-join {  
        
        width: 200px;
        
    }
    .sub-h3 {
        font-size: 20px;
        margin-left: -15px;
        
    }

}



