.hiw-section {
  display: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #EBEBEB;
  padding: 50px;
  position: fixed;
  top: 510px;
  width: 100%;

}
.hiw-card-container {
  display: flex;
  flex: 1;

}
.hiw-card-wrap{
  align-items: center;
  justify-content: center;
  text-align: center;
}
hiw-img-wrap{
  min-width: 33%;
  max-height: 300px;
}
/* tablets */
@media screen and (max-width: 600px) {
  .hiw-card-container {
    flex-direction: column;
  }
  .price-img-wrap {
    height: 150px;
    max-height: none;
  }
}

